body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  color: #007acc;
}

a {
  text-decoration: none;
  color: #0066cc;
}
a:hover {
  text-decoration: underline;
}
